<a href="javascript:void(0)">
  <span>
    <i class="iconfont icon-user"></i>
  </span>
  <!-- <span class="signin" data-tab="signin">登录</span>
  <span class="division">&nbsp;/&nbsp;</span>
  <span class="signup" data-tab="signup">注册</span> -->
  <div class="user-popup hidden">
    <div class="triangle"></div>
    <ul class="item-container">
      <li class="menu-item" data-tab="[data-tab-1]">个人资料</li>
      <li class="menu-item" data-tab="[data-tab-3]">账户管理</li>
      <li class="menu-item" data-tab="[data-tab-4]">我的收藏</li>
      <li class="menu-item" data-tab="[data-tab-5]">我的关注</li>
      <!-- <div class="menu-item">设置</div> -->
    </ul>
    <div class="log-out">
      <span class="red">退出登录</span>
    </div>
  </div>
</a>
<div class="popup-bg hidden"></div>