<div class="layer reset-password form-container hidden">
  <div class="layer-bg"></div>
  <div class="layer-dialog">
    <div class="layer-header">
      <ul class="tabs">
        <li class="tab-item">修改密码</li>
      </ul>
      <div class="head-actions">
        <div class="close">
          <i class="iconfont icon-close"></i>
        </div>
      </div>
    </div>
    <div class="layer-content bind-content">
      <div class="content-item">
        <div class="form-content" data-type="verification ">
          <div class="form-m password">
            <label for="enter-password">输入原密码</label>
            <div class="form">
                <div class="input">
                    <input type="password" placeholder="密码">
                    <div class="tip"></div>
                  </div>
            </div>
          </div>
          <div class="form-m enter-password">
            <label for="enter-password">输入新密码</label>
            <div class="form">
              <div class="input">
                <input type="password" name="enter-password" class="password" placeholder="密码">
                <div class="tip"></div>
              </div>

              <div class="tips">6~16位，必须包含字母和至少一个数字</div>
            </div>
          </div>
          <div class="form-m check-password">
            <label for="check-password">确认新密码</label>
            <div class="form">
              <div class="input">
                <input type="password" name="check-password" placeholder="确认密码">
                <div class="tip"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="button button-form active bind">验证</div>
      </div>
    </div>
  </div>
</div>
</div>