.my-gallery {
  width: 100%;
  float: left;
}
.my-gallery img {
  width: 100%;
  height: auto;
  border-radius: 6px;
}
.my-gallery figure {
  display: block;
  float: left;
  margin: 12px 5px 5px 0;
  width: 150px;
}
.my-gallery figcaption {
  display: none;
}