<article press-carb class="deep-card">
    <time>16:59</time>
    <div class="article-container">
      <a href=""  target="_blank">
        <div class="main-content" news-crab>
          <h2 class="title"></h2>
          <p class="text"></p>
        </div>
      </a>
      <div class="button-container">
        <div class="button small attitude good" data-attitude="attitude_up" data-type="1">
          <i class="iconfont icon-up"></i>
          <span></span>
        </div>
        <div class="button small attitude bad" data-attitude="attitude_down" date-type="1">
          <i class="iconfont icon-down"></i>
          <span></span>
        </div>
        <div class="button main collect" data-type="1">
          <i class="iconfont icon-star"></i>
          <span></span>
        </div>
      </div>
    </div>
  </article>