<article press-carb class="fast-card">
  <time></time>
  <div class="article-container">
    <div class="main-content">
      <h2></h2>
      <div class="article-content">
        <a href="#" target="_blank">
          <i class="iconfont"></i>
        </a>
      </div>
    </div>
    <div class="button-container">
      <div class="button small attitude good" data-attitude="attitude_up" data-type="1">
        <i class="iconfont icon-up"></i>
        <span>0</span>
      </div>
      <div class="button small attitude bad" data-attitude="attitude_down" date-type="1">
        <i class="iconfont icon-down"></i>
        <span>0</span>
      </div>
      <div class="button main collect" data-type="1">
        <i class="iconfont icon-star"></i>
        <span></span>
      </div>
    </div>
  </div>
</article>