@font-face {
    font-family: 'oxygen';
    src: url('../../assets/fonts/oxygen-regular-webfont.eot');
    src: url('../../assets/fonts/oxygen-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/oxygen-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/oxygen-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/oxygen-regular-webfont.svg#oxygenregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'din';
    src: url('../../assets/fonts/din-regular-webfont.eot');
    src: url('../../assets/fonts/din-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../assets/fonts/din-regular-webfont.woff') format('woff'),
         url('../../assets/fonts/din-regular-webfont.ttf') format('truetype'),
         url('../../assets/fonts/din-regular-webfont.svg#dinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

  